<div class="container mt-5 backgroud-white p-5 rounded">
    <div class="w-5 h-2">
        <h1 class="text-center">Login</h1>
        <hr>
        <form [formGroup]="login" (ngSubmit)="logar()" src="lista">

            <label class="form-label mb-0">Nome</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Insira seu nome">

            <label class="form-label mt-1 mb-0">senha</label>
            <input type="password" class="form-control" formControlName="senha" placeholder="Insira sua senha">

            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </form>

<div>
   <button (click)="cadastrar()">Não tem cadastro?</button> 
</div>

    </div>
</div>