ul {
  list-style-type: none;
  padding: 0px;
}

.conteudoAgenda {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.icones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backButton {
  display: flex;
  justify-content: right;
}
