<div class="container mt-5 backgroud-white p-5 rounded">
    <div class="w-5 h-2">
        <h1 class="text-center">Cadastro de Contato</h1>
        <hr>
        <form [formGroup]="contato" (ngSubmit)="cadastrar()">

            <label class="form-label mb-0">Nome</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Insira um nome">

            <label class="form-label mt-1 mb-0">telefone</label>
            <input type="tel" class="form-control" formControlName="telefone" placeholder="Insira uma telefone">

            <label class="form-label mt-1 mb-0">email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Insira uma email">

            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>