<div class="container mt-5 backgroud-white p-5 rounded">
    <div class="w-5 h-2">
        <h1 class="text-center">Deletar</h1>
        <hr>
        <p>Você deseja deletar:</p>
        <ul>
            <li *ngFor="let v of valor">
                <p><b>{{v[0]}}:</b> {{v[1]}}</p>
            </li>
        </ul>
<hr>
<div>
    <button class="btn btn-success" (click)="excluir()">Confirmar</button>
    <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
</div>
        
    </div>
</div>