* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2fa198;
}

.backgroud-white {
  background-color: white;
}

button{
  background-color: rgb(0, 89, 255);
  border: 0px;
  padding: 10px;
  color: white;
  border-radius: 50px;
}